<div class="navbar">
    <div class="hidden sm:block img-nav">
        <img src="./../../favicon.ico" alt="" routerLink="/">
    </div>
    <div class="hidden sm:block">
        <button class="btn">Contacto</button>
        <button class="btn">Proyectos</button>
        <button class="btn">Es / En</button>
    </div>
    <div class="sm:hidden flex" [class.active]="showMenu">
        <a class="btn">
            <img width="24" class="filter-crem" src="./../../assets/icons/contact_conversation_chat_bubbles_icon_144655.svg"
                alt="" routerLink="/">
        </a>
        <a class="btn">
            <img width="24" class="filter-crem" src="./../../assets/icons/projects_icon_142920.svg"
                alt="" routerLink="/">
        </a>
        <a class="btn">
            <img width="24" class="filter-crem" src="./../../assets/icons/language_icon_234097.svg"
                alt="" routerLink="/">
        </a>
    </div>
</div>