<div class="navbar">
    <div class="hidden sm:block img-nav" >
        <img src="./../../favicon.ico" alt="" routerLink="/">
    </div>
    <div class="hidden sm:block">
        <button class="btn">Contacto</button>
        <button class="btn">Proyectos</button>
        <button class="btn">Es / En</button>
    </div>
    <div class="sm:hidden flex" [class.active]="showMenu">
        <!-- <img class="btn" src="./../../assets/icons/projects_icon_142920.svg" alt="" routerLink="/">
        <img class="btn" src="./../../assets/icons/projects_icon_142920.svg" alt="" routerLink="/">
        <img class="btn" src="./../../assets/icons/projects_icon_142920.svg" alt="" routerLink="/"> -->
    </div>
</div>